<%= provide(:title, "Home")%>
<div class="center jumbotron">
 <h1> welcome to RRP </h1>
 <h2>The Reading Room Project</h2>
<%= yield %>

<%= link_to "signUp", signUp_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("RRP-Logo-NewColor.png", :size => "260x180", alt: "ngo logo") %>