<header class="navbar navbar-fixed-top navbar-inverse">
    
    <div class="container">
       <%= link_to "RRP", root_path, id:"logo" %>
        <nav>
            <ul class="nav navbar-nav pull-right">
        <li><%= link_to "home" , root_path %></li>
        <li><%= link_to "help" , help_path %></li>
        <li><%= link_to "about", about_path %></li>
            </ul>
            
        </nav>
    </div>
        
    
</header> 